/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
body {
  font-family: 'Raleway', sans-serif;
}

:is(header, section, footer) h1 {
  font-size: 30px;
  font-weight: normal;
}

:is(header, section, footer) h1:before {
  content: '';
  width: 10px;
  height: 30px;
  border-radius: 5px;
  display: inline-block;
  background-color: crimson;
  margin-right: 10px;
  transform: translateY(3px);
}

.frame :is(p, span) {
  font-size: 20px;
}
