/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");
* {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Arguments with @mixin and @include */
.buttons button {
  padding: 7px;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  padding: 20px 150px;
}

.buttons button.approval {
  border: 2px solid blue;
}

.buttons button.refuse {
  border: 2px dashed red;
}
