/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
* {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Copy Selector Style with @extend */
.btn, .order, .add, .checkout {
  width: 200px;
  padding: 7px;
  background-color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  border-radius: 5px;
  border-color: transparent;
  outline: none;
  cursor: pointer;
  color: #fff;
}

.order {
  background-color: purple;
}

.add {
  background-color: yellowgreen;
}

.checkout {
  color: #000;
  border: 1px solid #000;
}
