$crimson: crimson;
$black: #000;

.porfolio {
  color: $crimson;
  h1 {
    color: $black;
  }
}
.headline {
  color: $crimson;
  h2 {
    color: $black;
  }
}

.test {
  text-align: center;
}
p {
  color: $crimson;
}
