/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
/* @mixin and @include */
body {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  margin: 0;
  color: #333;
  background-color: #fff;
  line-height: 1.6em;
}
