/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Login Form */
.login {
  width: 350px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  /* button {
    background-color: red;
  } */
}

.login h1 {
  font-weight: normal;
  text-align: center;
  font-size: 28px;
  margin-top: 0;
}

.login input:not([type="submit"]) {
  display: block;
  width: 100%;
  margin: 15px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  transition: 0.35s;
  padding-left: 35px;
}

.login input:not([type="submit"])[type="text"] {
  background: url(images/icon-user.svg) no-repeat center left 5px;
}

.login input:not([type="submit"])[type="password"] {
  background: url(images/icon-password.svg) no-repeat center left 5px;
}

.login input:not([type="submit"])[type="email"] {
  background: url(images/icon-email.svg) no-repeat center left 5px;
}

.login input:not([type="submit"]):hover {
  border: 1px solid skyblue;
  box-shadow: 0 0 5px skyblue;
}

.login input[type="submit"] {
  background-color: skyblue;
  border: none;
  width: 100%;
  padding: 12px;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background-color: #000;
}
