body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  margin: 0;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.items > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}
.items > div:hover {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}
.items > div a {
  width: inherit;
  height: inherit;
}
.items > div a img {
  -o-object-fit: cover;
     object-fit: cover;
  width: inherit;
  height: inherit;
}