/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");

// body는 독립적으로 => reset으로 사용
body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  text-decoration: none;
}

.social {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 600px;
  display: flex;
  li {
    border: 1px solid #000;
    padding: 10px;
    flex: 1;
    text-align: center;
    a {
      color: #000;
      text-transform: uppercase;
    }
  }
}
