/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Raleway", "sans-serif";
}

@mixin links($link, $visited, $active, $hover) {
  a {
    text-decoration: none;
    color: $link;
    &:visited {
      color: $visited;
    }
    &:active {
      color: $active;
    }
    &:hover {
      color: $hover;
      text-decoration: underline;
    }
  }
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include links(black, gold, yellow, crimson);
}
