/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
body {
  font-family: "Raleway", "sans-serif";
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.btn a {
  text-decoration: none;
  color: black;
}
.btn a:visited {
  color: gold;
}
.btn a:active {
  color: yellow;
}
.btn a:hover {
  color: crimson;
  text-decoration: underline;
}