.vision {
  display: flex;
  &-inner {
    width: 1200px;
    overflow: hidden;
  }
  &-content {
    width: 100%;
    height: 200px;
    > div {
      float: left;
      width: 100%;
    }
  }
  &-item {
    height: 200px;
    &-desc {
      background-color: red;
      h1 {
        text-align: center;
      }
    }
  }
}