/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-line-height: 1.6em;
}

.portfolio p {
  text-align: center;
  text-overflow: hidden;
  text-transform: uppercase;
}
